.jobs-left-sec {
  width: 100%;
  padding: 20px;
  margin-left: 70px;
  margin-top: 30px;
}
.profile-card {
  background-image: url('https://assets.ccbp.in/frontend/react-js/profile-bg.png');
  background-size: cover;
  border-radius: 10px;
  padding-left: 10px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 15px;
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
}
.profile {
  height: 80px;
  width: 80px;
  border-radius: 60px;
}
.name {
  font-family: 'roboto';
  font-size: 20px;
  color: #6366f1;
}
.bio {
  font-family: 'roboto';
  font-size: 13px;
  color: #2c364c;
}
